* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
nav ul {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
    background: #22438C;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
   font-size: 18px; 
}

ul li ul.dropdown li {
    display: block;
    width: 200px;
}

ul li ul.dropdown {
    width: 200px;
    background: #22438C;
    position: absolute;
    z-index: 999;
    display: none;
    left: 0;
    top: 100%;
    border-bottom-left-radius: 12px;  /* dropdown radius bottom-left corner rounded */
    border-bottom-right-radius: 12px; /* dropdown radius bottom-right corner rounded */
}

ul li a:hover {
    background: #112c66;
}

ul li:hover ul.dropdown {
    display: block;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default body margin */
    font-family: Arial, sans-serif;
    background-image: url('images/agarrado_family_christmas_picture.jpg'); /* Replace 'your-image.jpg' with your image file path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed during scrolling */
}
