* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}

#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    width: 350px; /* Adjust this value to make the logo smaller */
    height: auto; /* Maintains aspect ratio */
    background: #2b2e418e; /* Matches nav background with transparency */
    border-radius: 50%; /* Creates circular shape */
    padding: 0px; /* Adds space between logo and circle edge */
    filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.645))}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
nav ul {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
    background: #2b2e41a9;
}

nav ul li:first-child {
    border-bottom-left-radius: 12px;  /* dropdown radius bottom-left corner rounded */
}

nav ul li ul li:first-child {
    border-bottom-left-radius: 0px;  /* dropdown radius bottom-left corner straightened TO AVOID HAVING THE FIRST FIRST-CHILD COPIED. */
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
   font-size: 18px;
   
}

ul li ul.dropdown li {
    display: block;
    width: 75%;
}

ul li ul.dropdown li:last-child {
    border-bottom-left-radius: 12px;  /* dropdown radius bottom-left corner rounded */
    border-bottom-right-radius: 12px; /* dropdown radius bottom-right corner rounded */
}

ul li ul.dropdown {
    width: 200px;
    position: absolute;
    z-index: 999;
    display: none;
    left: 0;
    top: 100%;
    border-bottom-left-radius: 12px;  /* dropdown radius bottom-left corner rounded */
    border-bottom-right-radius: 12px; /* dropdown radius bottom-right corner rounded */
}

ul li a:hover {
    background: #2b2e4170;
    border-bottom-left-radius: 12px;  /* dropdown radius bottom-left corner rounded */
    border-bottom-right-radius: 12px; /* dropdown radius bottom-right corner rounded */
}

ul li:hover ul.dropdown {
    display: block;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default body margin */
    font-family: Arial, sans-serif;
    background-image: url('images/canva_agarrado_family_HD_raised.png'); /* Replace 'your-image.jpg' with your image file path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed during scrolling */
}
